<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Web Server About Page</title>
  <style type="text/css">
    body {
      text-align: center;
    }
    h1 {
      color: blue
    }
  </style>
</head>
<body>
  {{> header}}
  <p>All we do here is code! code! code!</p>
  <p>{{changeCase 'Welcome'}}</p>
  
  {{> footer}}
  <a href="/">Go to Home Page</a>
</body>
</html>
