<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Web Server Home Page</title>
  <style type="text/css">
    body {
      text-align: center;
    }
  </style>
</head>
<body>
  {{> header}}
  <p>The home of future Developers</p>
  <p>{{welcomeMsg}}</p>
  <p>{{changeCase welcomeMsg}}</p>

  {{> footer}}
  <a href="/about">Go to About Page</a>
</body>
</html>
