<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Maintenance Page</title>
  <style type="text/css">
    body {
      text-align: center;
    }
  </style>
</head>
<body>
  <h1>Maintenance Page</h1>
  <p>Site is Currently under Maintenance</p>
  <p>Please, check back in 15mins</p>

  {{> footer}}
  <a href="/">Go to Home Page</a>
</body>
</html>
